/* Play.css */

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.game-container {
  text-align: center;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  background: linear-gradient(135deg, #6a11cb, #dcfc25);

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #062a42;
  color: rgb(235, 222, 222);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

.game-info {
  margin-top: 20px;
}

.loading {
  font-size: 20px;
  color: #f39c12;
}

.choices {
  font-size: 18px;
  color: #333;
}

.score {
  font-size: 24px;
  color: #2ecc71;
}
